name: Build and Publish Container Image

on:
  push:
    tags: [v*.*.*]

jobs:
  build:
    name: Build + Push
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2

    - name: Get version
      run: echo "IMAGE_TAG=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV


    - name: Build Docker Image
      run: docker build -t ghcr.io/${GITHUB_REPOSITORY}:${IMAGE_TAG} .
    
    - name: Login
      run: docker login -u publisher -p ${GHCR_TOKEN} ghcr.io
      env:
        GHCR_TOKEN: ${{ secrets.GHCR_TOKEN }}

    - name: Push
      run: docker push ghcr.io/${GITHUB_REPOSITORY}:${IMAGE_TAG}