name: Build and Publish Container Image

on:
  push:
    tags: [v*.*.*]

env:
  CGO_ENABLED: 1

jobs:
  build-container-image:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2

    - name: Get version
      run: echo "IMAGE_TAG=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

    - name: Build Docker Image
      run: docker build -t ghcr.io/${GITHUB_REPOSITORY}:${IMAGE_TAG} .
    
    - name: Login
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Push
      run: docker push ghcr.io/${GITHUB_REPOSITORY}:${IMAGE_TAG}

  build-binary-amd64:
    name: Release Go Binary x86
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        goos: [linux]
        goarch: [amd64]
    steps:

    - uses: actions/checkout@v2

    - name: Install packages
      run: sudo apt-get install gcc

    - name: Get version
      run: echo "IMAGE_TAG=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

    - uses: wangyoucao577/go-release-action@v1.14
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: ${{ matrix.goos }}
        goarch: ${{ matrix.goarch }}
        goversion: "https://dl.google.com/go/go1.16.linux-amd64.tar.gz"
        project_path: "./"
        binary_name: "discord-stock-ticker"
        ldflags: "-X main.buildVersion=${{ env.IMAGE_TAG }}"
        md5sum: FALSE
        
  build-binary-arm:
    name: Release Go Binary Arm
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        goos: [linux]
        goarch: [arm]
    steps:

    - uses: actions/checkout@v2

    - name: Install packages
      run: sudo apt-get install gcc-arm-linux-gnueabihf

    - name: Get version
      run: echo "IMAGE_TAG=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

    - uses: wangyoucao577/go-release-action@v1.14
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: ${{ matrix.goos }}
        goarch: ${{ matrix.goarch }}
        goversion: "https://dl.google.com/go/go1.16.linux-amd64.tar.gz"
        project_path: "./"
        binary_name: "discord-stock-ticker"
        build_flags: -buildmode=c-shared
        ldflags: "-X main.buildVersion=${{ env.IMAGE_TAG }}"
        md5sum: FALSE
      env:
        CC: /usr/bin/arm-linux-gnueabihf-gcc