on:
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2

    - uses: golangci/golangci-lint-action@v2

    - run: docker build -t test .
